div{
    /* border: 3px dashed black; */
    /* background-color: antiquewhite; */
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
}

header, footer{
    background-color: #1f2937;
}

header>.logo{
    color: #f9faf8;
    font-size: 24px ;
    align-self: center;
}


header>ul>li{
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;   
    margin: 1vh;
}

header>ul>li>a:hover{
    text-decoration: none;
}
header>ul>li>a{
    text-decoration: none;
    color: #f9faf8;
}


header>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.awesome{
    display: flex;
    flex-direction: row;
}
div.main1{
    display: flex;
    flex-direction: column;
}
div.cards{
    display: flex;
    flex-direction: row;
} 
div.main2{
    display: flex;
    flex-direction: column;
}
div.contactme{
    display: flex;
}

footer{
    display: flex;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
}
footer>p{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}
