body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
}

header, footer{
    background-color: #1f2937;
}

header>.logo{
    color: #f9faf8;
    font-size: 24px ;
    align-self: center;
    padding-left:5%;
}


header>ul>li{
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;   
    margin: 1vh;
}

header>ul>li>a:hover{
    text-decoration: none;
}
header>ul>li>a{
    text-decoration: none;
    color: #f9faf8;
}


header>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right:5%;
    
}

div.awesome{
    padding:10%;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color:#f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
div.main1{
    display: flex;
    flex-direction: column;
}
div.cards{
    display: flex;
    flex-direction: row;
} 
div.main2{
    display: flex;
    flex-direction: column;
}
div.contactme{
    display: flex;
}

footer{
    display: flex;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
footer>p{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.awesome>.awesome-text{
    flex:1;
}

.awesome>.awesome-text>h1{
    font: 900 48px;
}

div.awesome>div.awesome-pic>{
    display: flex;
    background-color: #6d747d;
    border-color: cyan;
    justify-content: center;
    align-items: center;
}
div.awesome>div.awesome-pic>img{
    width: 300px;
}

div.main1, div.main2,div.main3{
    padding-left: 10%;
    padding-right:10%;
}

div.main2{
    background-color: #e5e7eb;
}

div.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}


div.card{
    /* background-color: darkorchid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 157px;
}

div.card>img{
    width: 150px;
    height: 150px;
    border: 4px #3882f6 solid;
    border-radius: 12px;
}